Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
gevent==1.0.1
gevent-websocket==0.9.3
gnureadline==6.3.3
greenlet==0.4.2
ipython==2.1.0
itsdangerous==0.24
jira==0.31
oauthlib==0.6.3
pycrypto==2.6.1
redis==2.10.1
requests==2.3.0
requests-oauthlib==0.4.1
six==1.7.3
tlslite==0.4.6
ujson==1.33
wsaccel==0.6.2
wsgiref==0.1.2
